.main-header {
    background-color: bisque;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.main-header h1 {
    margin: 0;
    padding: 0.5rem;
    grid-column-start: 1;
    font-size: 1.2em;
}

.main-header img {
    
}